 /*Note: Other viable color is #07466C*/
 
 @font-face {
     font-family: windows1;
     src: url("./fonts/win10.ttf") format("truetype");
 }
 
 @font-face {
     font-family: arial;
     src: url("./fonts/arial.ttf") format("truetype");
 }
 
 body {
     overflow: hidden;
     background-color: black;
 }
 
 #errTime {
     font-family: arial;
 }
 
 body * {
     cursor: none;
 }
 
 #win10 * {
     font-family: windows1;
 }
 
 .white {
     color: white;
 }
 
 .head {
     text-align: center;
     font-size: 75px;
     padding-top: 100px;
 }
 
 .center {
     width: 100vw;
     text-align: center;
 }
 
 #progress {
     display: inline-block;
     margin-top: 30px;
     max-width: 30vw;
     min-width: 20vw;
 }
 
 #text {
     font-size: 100px;
     margin: 0px;
 }
 
 div.option {
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100vw;
     height: 100vh;
 }
 
 .navbar-text {
     font-size: 30px;
 }
 
 .navbar-text.selected,
 .navbar-text.selected * {
     color: #0b9dd5;
 }
 
 .navbar .navbar-nav {
     display: inline-block;
     float: none;
 }
 
 .navbar .navbar-collapse {
     text-align: center;
 }
 
 #code,
 #code * {
     font-family: 'Hack';
 }
 
 #randomCode {
     color: white;
     position: fixed;
     font-size: 15px;
     top: 5vh;
     left: 5vw;
     width: 90vw;
     height: 90vh;
 }
 
 #uploadingPass {
     position: fixed;
     top: 10vh;
     right: 10vw;
     color: #00FF00;
     font-size: 3vh;
     padding: 20px;
     border: normal green solid;
 }
 
 #help,
 #help * {
     cursor: default;
 }
 
 #help a {
     cursor: pointer;
     font-size: 20px;
 }
