#topBar {
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
}

body {
    overflow-x: hidden;
}

#left {
    position: fixed;
    top: 0px;
    display: inline-block;
    float: left;
    width: 15%;
    min-width: 250px;
}

#left * {}

.navForward {
    /*background-image: url(./img/next.png);
    background-repeat: no-repeat;
    background-position: center;/**/
    cursor: pointer;
    border: 0 none;
    height: 30px;
    padding: 0 2px;
    width: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.navBack {
    /*background-image: url(./img/back.png);
    background-repeat: no-repeat;
    background-position: center;/**/
    cursor: pointer;
    border: 0 none;
    padding: 0 2px;
    width: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#navButtons .btn-info {
    height: 30px;
    text-transform: none;
    padding: 5px;
}

#selectDate a.btn.dropdown-toggle {
    padding: 5px;
}

#selectedYear {
    display: inline-block;
    max-width: 25%;
    padding: 5px;
}

#cal {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}

#selectDate li:hover {
    cursor: pointer;
}

#month {
    display: inline-block;
    font-size: 0px;
    width: 100%;
    height: 85vh;
}

#month .month-day {
    display: inline-flex;
    border: thin black solid;
    min-height: 100px;
}

#month .month-head {
    display: inline-block;
    border: thin black solid;
    text-align: center;
    color: lightgray;
    background-color: black;
    cursor: default;
}

#month .month-day.used,
#month .month-day.used *:not(a) {
    cursor: default;
    padding: 5px;
}

#month .month-day.used {
    background-color: white;
    overflow-y: auto;
}

#month .month-day:not(.used) {
    background-color: #aaaaaa;
    padding: 5px;
}

#month .month-day.today {
    background-color: #1D62AC;
    color: white;
}

#today {
    cursor: pointer;
}

.holiday {
    display: block;
    padding: 5px;
    font-size: 15px;
}

#showHolidays {
    margin-left: 10px;
}

#closeMonthSelect,
#closeMonthSelect * {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

#selectDate button {
    padding: 10px;
    font-size: 20px;
}
