#searchCont {
   width: 15%;
   min-width: 50px;
   margin-top: 10px;
   float: right;
   margin-right: 1%;
   border-radius: 5px;
   padding-top: 7px;
}

#searchCont>input {
   width: 0px;
   display: inline;
}

#searchCont>a.btn {
   min-width: 60px;
   width: 10%;
   display: inline-block;
   text-align: center;
   padding-right: 15px;
   padding-left: 15px;
}

#searchCont>a.btn>i {
   font-size: 30px;
   margin-right: auto;
   margin-left: auto;
}