body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  .news {
    .category {
      white-space: nowrap;
      margin-left: 2px;
      font-size: 12px;
      line-height: 12px;
      max-height: 30px;
      padding: 5px;
    }

    .title {
      i {
        font-size: 12px;
      }
    }
  }

  .header {
    height: 35px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 9999999;
    background-color: #222;
    padding-left: 4vw;
    padding-right: 4vw;

    * {
      color: white;
    }

    .search {
      display: inline-block;
      width: 45%;
      background-color: transparent;
      font-size: large;
      border-radius: 5px;
      margin-left: 6px;
    }

    .header-title {
      display: inline-block;
      font-size: x-large;
    }
  }
}
