#about {
  .bio {
    font-size: 14px;
  }

  .center-text {
    * {
      text-align: center;
    }
  }

  .address {
    * {
      font-size: 14px;
    }
  }

  .download {
    font-size: 15px;
  }
}
